body {
    text-align:left;
}

img {
    height:90%;
    width:90%;
}

.knapp {
    text-align: right;
    border-radius:10%;
}

.topp {
    margin: 0px 200px 0px 100px;
    font-family:sans-serif;
}

.artikkeltekst {
    margin: 0px 200px 0px 100px;
    font-family: sans-serif;
}

#byline {
    color: grey;
}

h1, h2, h3 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

caption {
    font-family: sans-serif;
    color: grey;
}

li {
    font-family: sans-serif;
}

footer {
    background-color: blanchedalmond;
    border: solid;
}