body {text-align:left;
     margin: 0 100px 0 100px;
}

img {
    height:100%;
    width:100%;
}

button {color:rgb(127, 227, 255);}

.artikkeltekst {
    text-align: left;
    margin: 0 100px 0 100px;
}
